## Python Training
In this training I'm completing majority of the python concepts with hands on.
<ol>
    <li> Basics of python</li>
    <li>Data Types</li>
    <li>Operators</li>
    <li>Conditional statements</li>
    <li>Loops</li>
    <li> Data Structures(collections)</li>
    <li>Classes and Objects and Inheritance</li>
    <li> Built in Functions</li>
    <li>User defined functions</li>
    <li>Other functions in python</li>
    <li>Exception Handling</li>
</ol>

### Lets  start!!

In [1]:
print("Hello World") # printing the statement

Hello World

In [1]:
2+3

5

In [3]:
a=768794/654 # this is floating point
round(a,2)

1175.53

In [4]:
8/4 # this should return integer but it is giving floating what we can do is

2.0

In [5]:
8//4 # This integer division

2

In [6]:
#OPERATOR PRECEDENCE

2+4-10

-4

In [7]:
2+3*4

14

In [11]:
(2+3)+(4*2)-5

8

In [16]:
# USER INPUT and ASSIGINIG TO VARIABLE
a=input("Enter a value:") # entering user input and assigned to variable a
print(a)
type(a)

Enter a value:Hello World
Hello World

str

In [15]:
#print(int(a))

In [12]:
# USER INPUT AND CHANGE DATATYPE
a=int(input("Enter a value:"))
print(a)
type(a)
#print(str(a))

Enter a value:3
3

int

In [17]:
#PYTHON VARIABLES
a=2
b=4
add=a+b
print(add)

6

In [29]:
x=10
y=10
x+y

20

In [30]:
_+30 # here _ is used for talking previous output

50

In [19]:
add_a_b=a+b
print(add_a_b)

6

In [21]:
_br='str'
print(_br)

str

In [25]:
#PYTHON STRING
# IJ PYTHON STRING CAN BE DEFINED IN SINGLE('') OR DOUBLE QUOTES("")
message='Hello this is Robin From Bangalore'
print(message)

Hello this is Robin From Bangalore

In [29]:
#concatenating string
h='Hello '
q='world'
concat=h + q
print(concat)

Hello world

In [30]:
st='python world'
st[1:4]

'yth'

In [31]:
st[::-1]

'dlrow nohtyp'

In [32]:
st[:-1]

'python worl'

In [39]:
st[:-5]

'python '

### Data Types

In [40]:
#INTEGERS
a=2+3
print(a)
type(a)

5

int

In [42]:
#FLOATING POINT
b=2.5+3.8
print(b)

6.3

In [44]:
st='python world'
st.capitalize()

'Python world'

In [45]:
st.upper()

'PYTHON WORLD'

In [49]:
# STRING FORMATTING
r=45
t=89
x=r+t
print("The{} and {} value is {}" .format(r,t,x))

The45 and 89 value is 134

In [50]:
print("The float number is:{:f}".format(123.4567898))

The float number is:123.456790

In [12]:
print("Robin's Work")

Robin's Work

In [13]:
print('What is your "name"')

What is your "name"

In [18]:
print('Robin\'s "laptop"') # \ removes spaecial meaning of string

Robin's "laptop"

In [26]:
#print(3*'ro')
print("robin\wilson\name") # \n is new line so we can use r(raw string)

robin\wilson
ame

In [27]:
print(r'robin\wilson\name')

robin\wilson\name

In [31]:
st='christial bale'

In [32]:
st[-1]

'e'

In [33]:
st[1]

'h'

### List
python list is one of the data type which is mutable where we can use any types inside it. it provides many methods while working with list

In [34]:
l=[34,56,88,34,23,54]

In [35]:
l[4]

23

In [36]:
m=['leo','mario','mani','male']

In [40]:
ll=[l,m]
ll
#type(ll)

[[34, 56, 88, 34, 23, 54], ['leo', 'mario', 'mani', 'male']]

In [41]:
ll[0] # its a list of list

[34, 56, 88, 34, 23, 54]

In [42]:
ll[0][0]

34

In [43]:
ll[1][0]

'leo'

In [49]:
l1=['rob',34,676,'venky','amar',87584,985]

In [50]:
l1.append(34)
l1

['rob', 34, 676, 'venky', 'amar', 87584, 985, 34]

In [64]:
l1.extend([45,89])
l1

['rob', 34, 676, 'venky', 'amar', 87584, 985, 34, 45, 45, 45, 45, 89]

In [65]:
l1.pop(-1)

89

In [66]:
l1

['rob', 34, 676, 'venky', 'amar', 87584, 985, 34, 45, 45, 45, 45]

In [69]:
#l1.remove(89)
l1.remove(45)
l1

['rob', 34, 676, 'venky', 'amar', 87584, 985, 34, 45, 45, 45]

In [70]:
l1.pop()

45

In [71]:
l1.pop(1)

34

In [72]:
l1

['rob', 676, 'venky', 'amar', 87584, 985, 34, 45, 45]

In [74]:
del l1[5:]
l1

['rob', 676, 'venky', 'amar', 87584]

In [76]:
len(l1)

5

In [79]:
l1[0]='mini'
l1

['mini', 676, 'venky', 'amar', 87584]

In [80]:
l1.insert(0,'robi')

In [81]:
l1

['robi', 'mini', 676, 'venky', 'amar', 87584]

###  Tuple
Tuple is similier to list which is immutable we cannot modify it once it is created

In [82]:
t=(23,56,78,90,445)

In [84]:
t.count(56)

1

In [86]:
t.index(90)

3

### Set
set is similier to list but it does not take duplicate values the values should be unique it represented as {}

In [87]:
s={45,67,89,234,556}
type(s)

set

In [88]:
s.add(23)

In [89]:
s

{23, 45, 67, 89, 234, 556}

In [90]:
s.remove(89)

In [91]:
s

{23, 45, 67, 234, 556}

### Dictionary
Dictionary is one of the data type which will in key and value pair

In [92]:
di={1:10,2:'Robi',3:'Machine Learning',4:78}
di

{1: 10, 2: 'Robi', 3: 'Machine Learning', 4: 78}

In [93]:
di[3]

'Machine Learning'

In [95]:
di.get(4)

78

In [101]:
d1=[1,2,3,4]
d2=[90,89,99,56]
d3=dict(zip(d1,d2))
d3

{1: 90, 2: 89, 3: 99, 4: 56}

In [102]:
d3['5']=100
d3

{1: 90, 2: 89, 3: 99, 4: 56, '5': 100}

In [103]:
# inside dictionary list and dict
D={'Java':'Eclipse','python':['Jupyter','Spider','Visual Studio'],'CS':'Sublime','JS':{'Java':'Eclipse','JEE':'Notebean'}}
D

{'Java': 'Eclipse',
 'python': ['Jupyter', 'Spider', 'Visual Studio'],
 'CS': 'Sublime',
 'JS': {'Java': 'Eclipse', 'JEE': 'Notebean'}}

In [105]:
D['python'][2]

'Visual Studio'

In [107]:
D['JS']['JEE']

'Notebean'

In [108]:
#TYPE CONVERSION
t=23
tt=90
print("the value is",t+tt)

the value is 113

In [110]:
t=23
tt='90'
tt=int('99') # explicit type conversion
print("the value is",t+tt)

the value is 122

### Data Types
<ol><li>None</li>
    <li>Numeric:</li> <ul><li>int</li><li>float</li><li>complex</li><li>boolean</li></ul>
    <li>String</li>
    <li>List</li>
    <li>Tuple</li>
<li>Dictionary</li>
<li>Range</li>
    <li>Set</li></ol>